.container {
  .campo-form {
    display: flex;
    flex-direction: column;

    p-calendar span {
      width: 100%;
    }
  }
}

::ng-deep .p-inputtext {
  width: 100%;
}

::ng-deep .color-picker-horario {
  width: 100%;

  input {
    width: 100%;
  }
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
