<div class="container" [formGroup]="form">

  <div class="mb-2 campo-form">
    <label>Nome do cliente:</label>
    <input type="text" formControlName="nomeCliente" pInputText />
  </div>

  <div class="mb-2 campo-form">
    <label>Telefone:</label>
    <p-inputMask type="text" mask="(99) 99999-9999" formControlName="numeroTelefone"></p-inputMask>
  </div>

  <div class="mb-2 campo-form">
    <label>Horário de início:</label>
    <p-calendar [style]="{'width':'100%'}" formControlName="horarioInicio" [showTime]="true" [timeOnly]="true"
      inputId="timeonly">
    </p-calendar>
  </div>

  <div class="mb-2 campo-form">
    <label>Horário de término:</label>
    <p-calendar [style]="{'width':'100%'}" formControlName="horarioTermino" [showTime]="true" [timeOnly]="true"
      inputId="timeonly">
    </p-calendar>
  </div>

  <div class="mb-2 campo-form">
    <label>Local:</label>
    <input type="text" formControlName="local" pInputText />
  </div>

  <div class="mb-2 campo-form">
    <label>Observações:</label>
    <textarea [rows]="3" [cols]="30" pInputTextarea formControlName="observacoes"></textarea>
  </div>

  <div class="mb-3 campo-form">
    <label>Coloração:</label>
    <p-colorPicker formControlName="codigoCor" [styleClass]="'color-picker'"></p-colorPicker>
  </div>

  <div class="toolbar">
    <button pButton pRipple type="button" label="Salvar" class="p-button-success" (click)="salvarHorario()"
      [disabled]="!form.valid || salvando"></button>
  </div>
</div>
