<div class="container">
  <p><b>Nome:</b> {{horarioDTO?.nomeCliente}}</p>
  <p><b>Local:</b> {{horarioDTO?.local}}</p>
  <p><b>Telefone:</b> {{horarioDTO?.numeroTelefone}}</p>
  <p><b>Data início:</b> {{horarioDTO?.horarioInicio | date:'dd/MM/yyyy HH:mm'}}</p>
  <p><b>Data fim:</b> {{horarioDTO?.horarioTermino | date:'dd/MM/yyyy HH:mm'}}</p>
  <p><b>Observações:</b> {{horarioDTO?.observacoes}}</p>
</div>

<!-- <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
  [containerStyle]="{'max-width': '400px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" style="width: 50px;display: block;" />
    </div>
  </ng-template>
</p-galleria>
<div *ngIf="images" class="grid">
  <div *ngFor="let image of images; let index = index;" key="index" style="max-width:80px;margin: 5px;">
    <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="max-width: 60px;cursor: pointer"
      (click)="imageClick(index)" />
  </div>
</div> -->

<div class="toolbar">
  <button pButton pRipple type="button" label="Editar
  horário" class="p-button-info" (click)="editarHorario()"></button>
</div>
