.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: linear-gradient(
    356deg,
    rgba(85, 187, 254, 1) 0%,
    rgba(42, 164, 255, 1) 51%,
    rgba(72, 117, 219, 1) 99%
  );

  h1 {
    color: white;
    font-size: 30px;
  }
}

.container {
  margin-top: 20px;
  width: 95vw;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rodape {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
