<header class="header">

  <div class="col titulo" *ngIf="!mobile"><span>Agenda Oro Tattoo</span></div>
  <div class="col sair"><span *ngIf="mobile" style="margin-right: 30px;">Oro Tatto</span><span
      style="right: 10px;margin-right: 10px;"><a (click)="alterarSenha()">alt.
        senha</a></span><span style="right: 10px;color: tomato;"><a (click)="sair()">sair</a></span></div>
</header>

<main class="container">

  <div class="toolbar">

    <button pButton pRipple type="button" label="Anterior" class="p-button-success botao-prox-ant"
      (click)="anterior()"></button>
    <button pButton pRipple type="button" label="Próximo" class="p-button-success ml-2 botao-prox-ant"
      (click)="proximo()"></button>
    <button pButton pRipple type="button" label="Hoje" class="p-button-info ml-2 botao-hoje" (click)="hoje()"></button>

  </div>

  <full-calendar #calendario [options]="calendarOptions">
  </full-calendar>

  <div class="rodape">
    <span>© 2022 - Lucas Klauck</span>
  </div>
</main>
